/* CSS Greatest Hits! */
@charset "UTF-8";

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}



/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    border: 0;

}

::selection {
    background: #6B8B1D; /* Safari */
    color: white;
}

::-moz-selection {
    background: #6B8B1D; /* Firefox */
    color: white;
}

/*================ 
=== HTML TAGS ====
================*/

html {
    height: 100%;    
    font-size: 100%;
}

body {
	height: 100%;
    font-size: 100%;
    
    font-family:"source_serif_proregular";    
}

img {
	max-width: 100%;
}


/*================= 
===   Classes   ===
==================*/

.limit {
    margin: 0 auto;
    padding: 50px 30px;
    width: 100%;
    max-width: 1000px;
}

#starter {
    min-height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    z-index: 0;

    /*height: 660px;*/
    height: 100%;
    width: 100%;
    
    color: white;
    /*
    background: #3498db;
    background-image: -webkit-linear-gradient(top right, #ff688b, #3498db);
    background-image: -moz-linear-gradient(top right, #ff688b, #3498db);
    background-image: linear-gradient(top right, #ff688b, #3498db);
    */

}

#starter:before{
    content: '';
    position: absolute;
    background: url("../images/bg2k.jpg") no-repeat center;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#starter .limit {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

#starter .bigimage {
    position: absolute;
    bottom: 0;
    left: 500px;
    height: 658px;
    width: 960px;
    background: #fff url(../images/bojio.jpg) 0 0/cover no-repeat;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25)
}


#starter .logo {
    display: block;
    width: 110px;
    height: 64px;
    background: url(//foo.piethis.com/img/logo_white.7f868f4b.png) 0 0/cover no-repeat
}

#starter h1 {
    max-width: 400px;
    margin: .75rem 0 .5rem;
    font-size: 4.5rem;
    
    line-height: 1.125em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#starter h2 {
    max-width: 400px;
    margin: 0 0 1.5rem;
    font-size: 4.0rem;
    
    line-height: 1.25em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
}

#starter h3 {
    max-width: 400px;
    margin: .75rem 0 .5rem;
    font-size: 2.0rem;
    
    line-height: 1.25em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
}


#starter .buttons {

    margin-top: 2.5rem;
    max-width: 400px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;

    font-size: 1.6rem;
    height: 60px;
    line-height: 55px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
}

#starter .button-android {
    display: inline-block;
    height: 55px;
    width: 160px;
    background: url(../images/ad.png) 0 0/cover no-repeat;
}

#starter .button-ios {
    display: inline-block;
    height: 55px;
    width: 160px;
    background: url(../images/ap.png) 0 0/cover no-repeat;
}

#starter .button-signup {
    vertical-align: top;
    display: inline-block;
    height: 60px;
    width: 160px;
    padding: 0 12px 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    -webkit-transition: background .2s;
    transition: background .2s
}

#starter .button-signup:hover {
    background: rgba(255, 255, 255, 0.2)
}

#starter .button-signin {
    vertical-align: top;
    display: inline-block;
    padding: 0 12px 0;
    line-height: 55px;
    font-weight: 500;
    color: white
}

#starter .button-signin:hover {
    color: rgba(255, 255, 255, 0.8)
}

#starter .button-space {
    display: inline-block;
    padding: 0 0 0 15px;
    font-weight: 300
}





































.nav li {
    /* border-right: 1px solid #ccc; */
    font-size: 0.8rem;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    /* border-right: 1px solid #ccc; */
    color: orange;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
    color: orange;
}

.clear{
    clear:both;
}

.divider-small {
    margin-top:20px;
}

.divider-large {
    margin-top:80px;
}


h1 {
    font-family: "montserratbold", Verdana, san-serif;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 1.166666667;
}

h2 {
	font-family: "source_serif_proregular", Georgia, serif;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.166666667;
}

h3, h4{
    margin-bottom: .7rem;
    font-weight: 400;
    letter-spacing: -.05rem;
}

.subtitle {
    font-family: "source_serif_proregular", Georgia, serif !important;  
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    font-style: italic !important;
    line-height: 1.166666667 !important;
}

h3 {
    font-family: "montserratbold",sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.4;
}

h4 {
    font-family: "Times New Roman", Georgia, serif;
    font-style: italic;
    font-size: .65rem;
    line-height: 1.615384615;
}

p {
    font-size: 1.0rem;
}

.small {
    font-size: .8rem;
    line-height: 1.3125;
}

.caps {
	text-transform: uppercase;
}


.div-fill {
	min-height: 100%;
	z-index: 1;  /* sets it below the other slides in the layer stack */
}

.div-tall {
	min-height: 100%;
    background-color: white;
}

#wrapper {
    position: relative;
    z-index: 1000;
    top: 100%;
    background: white;
    border-top: 1px solid #dce0e0;
    -webkit-transform: translateZ(0);
}


.jio {
    color: red;
}

#copyright {
    color: #999;
}

/*=================== 
===   Animation   ===
====================*/


/*=================== 
===   Web Fonts   ===
====================*/

/* webfont.eot == IE9 Compat Modes */
/* webfont.woff == Modern Browsers */
/* webfont.ttf == Safari, Android, iOS */
/* webfont.svg#svgFontName == Legacy iOS */

@font-face {
    font-family: 'source_serif_proregular';
    src: url('sourceserifpro-regular-webfont.eot');
    src: url('sourceserifpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourceserifpro-regular-webfont.woff') format('woff'),
         url('sourceserifpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sans_book';
    src: url('firasans-book.eot');
    src: url('firasans-book.eot?#iefix') format('embedded-opentype'),
         url('firasans-book.woff') format('woff'),
         url('firasans-book.ttf') format('truetype'),
         url('firasans-book.svg#fira_sans_book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Large to Small Media Queries */
@media only screen and (min-width: 2561px) {
    html, body, :root {
        font-size: 200%;
    }
    #starter h1 {
    	max-width: 800px;
	}
	#starter h2 {
    	max-width: 800px;
	}
	#starter .buttons {
    	max-width: 800px;
    	line-height: 110px;
	}
	.limit {
		max-width: 2000px;
	}

	#starter .button-signup {
    	vertical-align: top;
    	display: inline-block;
    	height: 120px;
    	width: 320px;
    	line-height: 102px;
	}

	#starter .button-signin {
		line-height: 110px;
	}

	#starter .button-space {
	    display: inline-block;
	    padding: 0 30px 0 30px;
	    font-weight: 300
	}

    #starter .button-android {
        background: url(../images/ad@2x.png) 0 0/cover no-repeat;
        height: 110px;
        width: 320px;
    }

    #starter .button-ios {
        background: url(../images/ap@2x.png) 0 0/cover no-repeat;
        height: 110px;
        width: 320px;
    }

}

@media only screen and (max-width: 2560px) {
    html, body, :root {
        font-size: 150%;
    }

    #starter h1 {
    	max-width: 600px;
	}
	#starter h2 {
    	max-width: 600px;
	}
	#starter .buttons {
    	max-width: 600px;
    	line-height: 82.5px;
	}
	.limit {
		max-width: 1500px;
	}

	#starter .button-signup {
    	vertical-align: top;
    	display: inline-block;
    	height: 90px;
    	width: 270px;
    	line-height: 76.5px;
	}

	#starter .button-signin {
		line-height: 82.5px;
	}

	#starter .button-space {
	    padding: 0 0 0 22.5px;
	}
    
    #starter .button-android {
        background: url(../images/ad@2x.png) 0 0/cover no-repeat;
        height: 82.5px;
        width: 240px;
    }

    #starter .button-ios {
        background: url(../images/ap@2x.png) 0 0/cover no-repeat;
        height: 82.5px;
        width: 240px;
    }
}

@media only screen and (max-width: 1920px) {
    html, body, :root {
        font-size: 100%;
    }

    #starter h1 {
    	max-width: 400px;
	}
	#starter h2 {
    	max-width: 400px;
	}
	#starter .buttons {
    	max-width: 400px;
    	line-height: 55px;
	}
	.limit {
		max-width: 1000px;
	}

	#starter .button-signup {
    	vertical-align: top;
    	display: inline-block;
    	height: 60px;
    	width: 180px;
    	line-height: 51px;
	}

	#starter .button-signin {
		line-height: 55px;
	}

	#starter .button-space {
	    padding: 0 0 0 15px;
	}

    #starter .button-android {
        background: url(../images/ad.png) 0 0/cover no-repeat;
        height: 55px;
        width: 160px;
    }

    #starter .button-ios {
        background: url(../images/ap.png) 0 0/cover no-repeat;
        height: 55px;
        width: 160px;
    }
}

@media only screen and (max-width: 568px) {
    html, body, :root {
        font-size: 80%;
    }

    .limit {
        margin: 0 auto;
        padding: 44px 15px;
        width: 100%
    }

    #starter .button-signup {
        vertical-align: top;
        display: inline-block;
        height: 60px;
        width: 100px;
        padding: 0 12px 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 4.2rem;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        color: white;
        border: 2px solid white;
        border-radius: 3px;
        -webkit-transition: background .2s;
        transition: background .2s
    }

    p {
        font-size: 1.25rem;
    }

    #starter .button-android {
        background: url(../images/ad.png) 0 0/cover no-repeat;
        height: 41.25px;
        width: 120px;
    }

    #starter .button-ios {
        background: url(../images/ap.png) 0 0/cover no-repeat;
        height: 41.25px;
        width: 120px;
    }
}



@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)  {
  
    #starter .button-android {
        background: url(../images/ad@2x.png) 0 0/cover no-repeat;
    }

    #starter .button-ios {
        background: url(../images/ap@2x.png) 0 0/cover no-repeat;
    }
}



@-ms-viewport{
    width: device-width;
}